<?xml version="1.0" encoding="utf-8"?>
<!--
{{#appName}}
{{{appName}}}

{{/appName}}
{{#appDescription}}
{{{appDescription}}}

{{/appDescription}}
{{#version}}OpenAPI spec version: {{version}}{{/version}}
{{#infoEmail}}Contact: {{{infoEmail}}}{{/infoEmail}}
-->
<Project Sdk="Microsoft.NET.Sdk">

    <PropertyGroup>
        <TargetFramework>netstandard2.0</TargetFramework>
        <GeneratePackageOnBuild>true</GeneratePackageOnBuild>
        <Description>{{#appName}}{{{appName}}}{{/appName}}
            {{#appDescription}}{{{appDescription}}}{{/appDescription}}
            {{#version}}OpenAPI spec version: {{{version}}}{{/version}}
            {{#infoEmail}}Contact: {{{infoEmail}}}{{/infoEmail}}
        </Description>
    </PropertyGroup>

    <ItemGroup>
        <PackageReference Include="Refit" Version="4.6.58" />
        <PackageReference Include="System.ComponentModel.Annotations" Version="4.5.0" />
    </ItemGroup>

    <Import Project="../{{packageName}}.Shared/{{packageName}}.Shared.projitems" Label="Shared" />

</Project>
