
Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio 15
VisualStudioVersion = 15.0.26621.2
MinimumVisualStudioVersion = 10.0.40219.1
Project("{D954291E-2A0B-460D-934E-DC6B0785DB48}") = "{{packageName}}.Shared", "src{{backslash}}{{packageName}}.Shared{{backslash}}{{packageName}}.Shared.shproj", "{{projectGuidShared}}"
EndProject
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "{{packageName}}", "src{{backslash}}{{packageName}}{{backslash}}{{packageName}}.csproj", "{{projectGuidLibrary}}"
EndProject
Global
    GlobalSection(SharedMSBuildProjectFiles) = preSolution
        src{{backslash}}{{packageName}}.Shared{{backslash}}{{packageName}}.Shared.projitems*{{projectGuidShared}}*SharedItemsImports = 13
    EndGlobalSection
    GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
		{{projectGuidLibrary}}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{{projectGuidLibrary}}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{{projectGuidLibrary}}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{{projectGuidLibrary}}.Release|Any CPU.Build.0 = Release|Any CPU
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
	GlobalSection(ExtensibilityGlobals) = postSolution
		SolutionGuid = {B7DCDD1F-52FA-41F7-9C85-708366154D6C}
	EndGlobalSection
EndGlobal
